@media (max-width: 576px) {

  .general-nav .dash-nav .input-box{
    width: 100px;
    height: 10px;
  }
  

  .general-nav{
    margin-left: 0px !important;
  }

  .doctor-info{
    display: none;
    border: none;
  }


  .nav-date-info{
    display: none;
    border: none;
  }

  .nav-icons{
      margin-right: 50px;
  }
}


@media screen and (min-width: 576px) and (max-width: 1024px) {
  .general-nav{
    margin-left: 0px !important;

    .dash-nav{
      padding-right: 0px;
    }

    .doctor-position .doctor-info.name{
      width: 130px;
    }

    .nav-date-info{
      width: 150px;
      margin-left: 15px;
    }

    .nav-icons{
      width: 20px;
    }
  }


    
}