
.input-box {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  align-items: center;

  .textinput {
    padding: 5px;
    border: none;
    outline: none;
  }
}


@media (max-width: 576px) {

 .input-box input.textinput {
       width: 50px
 }
}
