.custom-class{
    margin-left: 52px;
}
/* Styles for tablet-sized screens */
@media (min-width: 768px) and (max-width: 1023px) {
    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .top h1 {
      font-size: 2rem;
      margin-left: 0;
    }
  
    .top p {
      text-align: center;
      margin-left: 0;
      margin-right: 0;
    }
  
    .top img:nth-child(3) {
      width: 256px;
      margin-left: 0;
      margin-top: 16px;
    }
  
    .top .flex.flex-col.md\:flex-row.justify-center.md\:space-x-4.mt-1 {
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      margin-top: 24px;
    }
  
    .top .flex.flex-col.md\:flex-row.justify-center.md\:space-x-4.mt-1 img {
      width: 350px; 
      height: 300px; 
      margin-top: 0;
    }
  
    .top .flex.justify-center.mt-8 img {
      width: 75%;
    }
  }
