*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.OuterHomeContainer{
    /* padding: 0px 3%; */
    padding-top: 90px;
    /* margin-top: 30px; */
}
.doctorSection{
  width: 100%;
  height: 80vh;
  padding: 0px 3%;

  /* background-color: aqua; */
  display: flex;
  
}
.leftDiv{
    width: 33%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.leftDiv h1{
    font-size: 26px;
    font-weight: bold;
}
.leftDiv img{
    position: relative;
    bottom: 20px; 
}
.leftDiv p{
    position: relative;
    bottom: 30px;
    color: #787878;

}
.leftDiv button{
    position: relative;
    bottom: 50px;
    width: 270px;
    height: 50px;
    background-color: #5284B5;
    color: aliceblue;
    border: none;
    box-shadow: 2px 2px 3px black,-2px -2px 3px black;
}

.middleDiv{
    width: 33%;
    height: 100%;
    /* border: 2px solid red; */
    position: relative;
}
.middleDiv #docImage1{
    position: absolute;
    top: 5%;
     
}
.middleDiv #docImage2{
    position: absolute;
    top: 64%;
    left: 68%;
}


.rightDiv{
    width: 33%;
    height: 100%;
    /* border: 2px solid green; */
    padding-top:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.rightDiv #arcImage{
    margin-bottom: 12%; 
}
.rightDiv p{
    font-size: 14px;
    position: absolute;
    top: 90%;
    right: 130px;
    color: #787878;
}
.rightDiv p span{
    color: #5284B5;
    font-size: 20px;
    font-weight: bold;

}

.Jambotron{
    width: 94%;
    height: 29vh;
    background-color: #5284B5;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    align-items: center;
    border-radius: 5px;
    margin: 2% 3%;
}
.commonBoldpara{
    font-weight: bold;
}

.jamboDiv{
    display: flex;
    
}
.jamboleft{
    position: relative;
    margin-right: 23px;
}

#smallimg{
    position: absolute;
    top: 50px;
    left: 25px;
}
.jamboright{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paradesign{
    color:#FFFFFF;
}
.servicesSection{
    width: 100%;
    height: 70vh;
    /* background-color: aqua; */
    margin: 30px 0px;
    padding: 0px 3%;

}
.upperSection{
    width: 100%;
    height: 30%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#para1{
    font-weight: bold;
    font-size: 24px;
}
#para2{
color: gray;
}

.lowerSection{
    width: 100%;
    height: 70%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commonStyleDiv{
    width: 23%;
    height: 80%;
    /* border: 2px solid red; */
}
.specialListSection{
  width: 100%;
  height: 100vh;
  background-color: #5284B5;
  padding: 3% 3%;

}
.specialListSection #myPara{
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}
.topDiv{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-top: -20px;
}
.bottomDiv{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #E9F7F8;
    margin-top: -25px;
}
.bottomDiv1{
    width: 100%;
    height: 200%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}
.bdiv{
    width: 21%;
    height: 100%;
    border: 2px solid #6c9ac9;
    position: relative;
    padding: 0 2%;
    top: 10px;
    border-radius: 5px;
    .mySpan{
        font-size: 20px;
    }

}
.bdiv img{
  padding-top: 8px;  
}

.bdiv p{
    padding-top: 15px; 
    text-align: left; 
    color: #E9F7F8D9;

  }
  .topDiv #myPara{
    font-size: 20px;
    color: #E9F7F8;
    padding-left: 32px;
    padding-bottom: 14px;
    
  }

.mySpan{
    /* size: 20px; */
    position: absolute;
    top: 10px;
    left: 90px;
    color: #E9F7F8;
}
.bottomDiv2{
    width: 100%;
    height: 200%;
    /* border: 2px solid green; */
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between;
    

}

@media screen and (max-width:199px){
    .doctorSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: space-between;
    }
   
    .leftDiv h1{
        width: 300px;
        position: relative;
        right: 60px;
         
    }
   
    .leftDiv p{
        width: 300px;
        position: relative;
        top: 20px;
        bottom: 20px;
        right: 60px;

    }
    .leftDiv button{
        position: relative;
        top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        bottom: 20px;
        right: 70px;
    }
    .leftDiv img{
        position: relative;
        
        top: 10px; 
        height: 30px;
        width: 100%;
    }
    .middleDiv{
        margin-top: 50px;
        margin-bottom: 100px;
        position: relative;
    }
    .middleDiv #docImage1{
        position: absolute;
        top: 5%;
         
    }
    .middleDiv #docImage2{
        position: absolute;
        top: 30px;
        left:65% ;
    }
    .rightDiv{
        height: auto;
        margin: 1px 0px;
    }
    .rightDiv #arcImage{
        margin-bottom: 12%; 
        width: 100px;
    }
    .rightDiv p{
        color: gray;
        position: absolute;
        margin: 30px 0px;
        margin-bottom: 70px;
    }
    .Jambotron{
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;

    }
    .upperSection{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .lowerSection{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: space-between;
    }
    .commonStyleDiv{
        width: 200px;
        margin-top: 20px;
    }
    .specialListSection{
        margin-top: 500px;
        height: auto;
        padding-right: 150px;
        
    }   

    .bdiv{
        width: 270px;
        padding: 30px;
        margin-bottom: 10px; 
        margin: 0% 14%;
        position: relative;
        top: 10px;
        
        margin-top: 30px;
     }
    
     .bottomDiv1{
         display: flex;
         flex-direction: column;
         margin-top: 50px;
         position: relative;
         
     }
     .bottomDiv img{
         width:60px;
         height: 60px;
     }
     .bottomDiv span{
          padding-top: 40px;
          padding-left: 10px;
          
     }
     .bottomDiv2{
         display: flex;
         flex-direction: column;
         margin-bottom: 50px;
 
     }
     #myPara{
         align-items: center;
         padding-left: 40px;
         position: relative;
         top:30px
     }
    
}

@media screen and (min-width:200px) and (max-width:420px){
    .doctorSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: space-between;
    }
   
    .leftDiv h1{
        width: 300px;
        position: relative;
        right: 60px;
         
    }
   
    .leftDiv p{
        width: 300px;
        position: relative;
        top: 20px;
        bottom: 20px;
        right: 60px;

    }
    .leftDiv button{
        position: relative;
        top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        bottom: 20px;
        right: 70px;
    }
    .leftDiv img{
        position: relative;
        
        top: 10px; 
        height: 30px;
        width: 100%;
    }
    .middleDiv{
        margin-top: 50px;
        margin-bottom: 100px;
        position: relative;
    }
    .middleDiv #docImage1{
        width: 100%;
        height: auto;
        position: absolute;
        top: 5%;
         
    }
    .middleDiv #docImage2{
        position: absolute;
        top: 80px;
        left:65% ;
    }
    .rightDiv{
        width:100%;
        height: auto;
        margin: 40px 0px;
    }
    .rightDiv #arcImage{
        margin-bottom: 12%; 
    }
    .rightDiv p{
        color: gray;
        position: absolute;
        margin: 40px -160px;
        margin-bottom: 70px; 
        left: 220px;
    }
    .Jambotron{
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        gap: 12px;
        padding: 10px 0px;
    }
    .upperSection{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    #para2{
        padding-left: 35px;
    }
    .lowerSection{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: space-between;
    }
    .commonStyleDiv{
        width: 200px;
        margin-top: 20px;
    }
    .specialListSection{
        margin-top: 650px;
        height: auto;
    }
    .topDiv #myPara{
        font-size: 30px;
        color: #E9F7F8;
        padding-left: 32px;
        padding-bottom: 14px;
        
      }
    .bdiv{ 
       width: 270px;
       padding: 30px;
       margin-bottom: 10px; 
       margin: 0% 10%; 
       position: relative;
       top: 10px;
       margin-top: 30px;
    }
 
    .bdiv p span{
        position: relative;
       right: 10px;
    }
    
   
    .bottomDiv1{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .bottomDiv img{
        width:60px;
        height: 60px;
    }
    .bottomDiv span{
         padding-top: 40px;
         padding-left: 10px;
         
    }
    .bottomDiv2{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        position: relative;
        top:-15px;


    }
    #myPara{
        align-items: center;
        padding-left: 40px;
        position: relative;
        top:30px
    }
    .servicesSection .lowerSection{
        
        margin: 100px 0px;
    
    }
    
    
}

/* for tab */

@media screen and (min-width:421px) and (max-width:800px) {
     .rightDiv{
        display: none; 
     }
     .doctorSection{
        width: 100%;
        height: 60vh;
        padding: 30px 5%;
      
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        
      }
      .leftDiv img{
        position: relative;
        top:40px;
        bottom: 20px;
        width: 500px;
        height: 100px;
      }
      .leftDiv h1 {
        position: relative;
        top: 40px;
        width: 300px;
       
      }
      .leftDiv p {
        position: relative;
        top: 40px;
        width: 300px;
         
      }
      .leftDiv #mybtn{
        position: relative;
        top: 80px;
        bottom: 100px;
        height: 50px;
        width: 280px;
        padding: 20px 40px;
      }

      .middleDiv{
        position: relative;
      }
      .middleDiv #docImage1{
        position: absolute;
        top: 10%;
        width: 520px;

         
    }
    .middleDiv #docImage2{
        position: absolute;
        top: 220px;
        left:70% ;
    }
    .lowerSection{
        height: auto;
    }
    .servicesSection{
        position: relative;
        top: 200px;

    }
    #myPara{
        /* padding: 10px 0px; */
        
        position: relative;
        left: 30px;
        top: 50px;
        line-height: 3px;
    }
    .mySpan{  
        position: relative;
       top: -40px;
    }
    .specialListSection{
        /* margin-bottom: 500px; */
       position: relative;
       /* bottom: 200px; */
       height: auto;
       /* top: 60px; */
        
    }
    .specialListSection .bottomDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 130px;
        /* border: 2px solid red; */
    }
    .Jambotron{
        position: relative;
        top: 180px;
        height: 190px;
    }
    .jamboleft{
        padding-left: 15px;
    }

    .bottomDiv1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border: 2px solid red; */
         
        /* padding: 0px 30px; */
    }

    .bottomDiv2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding: 0px 30px; */
        /* border: 2px solid red; */
        position: relative;
        top: -1px;
    }

    /* #bdiv4{
        display: none;
    }
    #bdiv8{
        display: none;
    } */
    .bdiv{
        width: 300px;
        padding: 20px;
        margin-bottom: 70px;
        margin-left: 30px;
        height: 300px;
        align-content: center;
        
       
    }
    #smallimg{
        padding-left: 10px;
    }
     
    .bottomDiv div{
        padding-bottom: 50px;
        position: relative;
        
    }
    .topDiv{
        padding-top: 30px;
    }

      
}
@media screen and (min-width:801px) and (max-width:992px) {
    .rightDiv{
        display: none;
     }
     .doctorSection{
        width: 100%;
        height: 60vh;
        padding: 30px 5%;
      
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        
      }
      .leftDiv #mybtn{
        position: relative;
        top: 2px;
        bottom: 100px;
        height: 50px;
        width: 220px;
        padding: 20px 40px;
      }

      .middleDiv{
        position: relative;
      }
      .middleDiv #docImage1{
        position: absolute;
        top: 10%;
        width: 280px;
         
    }
    #smallimg{
        padding-left: 10px;
    }
    .middleDiv #docImage2{
        position: absolute;
        top: 255px;
        left:75% ;
    }
      .jamboleft{
        padding-left: 15px;
        
    }
    .servicesSection{
        height: auto;
        margin-bottom: 100px;

    }
    .lowerSection{
        position: relative;
        top: 30px;
        bottom: 30px;
    }

    #bdiv4{
        display: none;
    }
    #bdiv8{
        display: none;
    }
    .bdiv{
        width: 200px;
        height: 250px;
    }
     
}
