.foo_section{
    .first{
        color: rgba(82, 132, 181, 1);
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .flex.flex-col.justify-center.items-center.gap-7.sm\:flex-row.sm\:gap-36.sm\:mt-24 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  .flex.flex-col.justify-center.items-center.gap-7.sm\:flex-row.sm\:gap-36.sm\:mt-24 img {
    width: 20%;
    height: auto;
    margin-top: 0 !important;
    margin-right: 0 !important;
  }

  .flex.justify-center.sm\:justify-end.mt-8.sm\:mt-\[-110px\].sm\:mr-12.sm\:space-x-4 {
    flex-direction: column;
    align-items: end;
    margin-top: 2rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .flex.justify-center.sm\:justify-end.mt-8.sm\:mt-\[-110px\].sm\:mr-12.sm\:space-x-4 .flex.space-x-4 {
    flex-direction: row;
    margin-bottom: 1rem;
  }

  .mr-20.mt-4.flex.justify-end {
    margin-right: 25px;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .plant {
    margin-top: -10rem; 
  }

  .plant img {
    width: 25%;
    height: auto;
    margin-right: 35rem; 
  }
}
