
.sidebar-wrapper {
  position: relative;
  z-index: 1;
}

.sidebar {
  width: 15%;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px 0 200px;
  position: fixed;
  left: 0;
  top: 88px;
  bottom: 0;
  z-index: 998;
  height: 100%;
  overflow: scroll;

  .cancel-img {
    display: none;
  }
}

.sidebar .sidebar-menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  list-style-type: none;
  color: #0000AC;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding: 12px 0px 11px 18px;
  text-transform: capitalize;
  font-weight: 500;
  border-left-width: 5px;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-color: transparent;
  padding-right: 15px;

  &.disabled {
    pointer-events: painted;
  }

  .first {
    display: flex;
    align-items: center;
  }
}

.sidebar .sidebar-menu a:hover,
.sidebar .sidebar-menu a.active {
  color: #0000AC;
  border-radius: 5px 0px 0px 5px;
  border-color: #0000AC;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left-width: 5px;

  .icon-logo {
    fill: #0000AC;
  }
}

.sidebar .sidebar-menu a:hover .icon-logo,
.sidebar .sidebar-menu a:hover .icon-logo svg,
.sidebar .sidebar-menu a.active .icon-logo svg {

  path{
    fill: #0000AC; 
  }
}

.icon-logo {
  padding-right: 16px;
  width: max-content;
}

.child-active {
  background-color: transparent !important;
  border: none !important;
}


@media (max-width: 576px) {
  .sidebaricon-title, .auto-hide{
    display: none;
  }
}


@media screen and (min-width: 576px) and (max-width: 1024px) {
    
  .sidebaricon-title{
    display: none;
  }

  .sidebar {
    width: 8%;
  }
}
