@media (max-width: 576px) {
  .messageInputdiv {
    width: 100%;
  }

  .message-textinput {
    width: 70%;
  }

  .gap-4 {
    gap: 0px;
  }

}


@media screen and (min-width: 576px) and (max-width: 1024px) {
    
  .messageInputdiv input.message-textinput {
        width: 5%;
      }
    
      .gap-4 {
        gap: 0px;
      }
  
}

@media screen and (min-width: 576px) and (max-width: 1706px) {
  .messageInputdiv input.message-textinput {
        width: 5%;
      }
}