
@tailwind base;
@tailwind components;
@tailwind utilities;


#root,
main {
  position: relative;
  min-height: 100vh;
}


h1, h2 ,h3,h4,h5,h6 {
  font-family: "Arial";
  color:  #002639;
}
p{
  font-family : "Arial";
  color:  #002639;
}


.page-wrapper {
  display: flex;
  overflow: hidden;
  padding-top: 98px;
  padding-left: 20%;
  height: 100%;

  .layout {
    margin-top: 33px;
    width: 100%;
    margin-bottom: 50px;

    .main-fit {
      padding-right: 109px;
    }
  }
}


@media (max-width: 576px) {
.page-wrapper{
  padding-left: 20%;
}


.page-wrapper .layout .main-fit {
  padding-right: 10px; 
}

}

